<header>
   
   

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">User Management</a></li>
            <li><a href="/roles">Role Management</a></li>
            <li><a href="/databases">Database Management</a></li>
            <li><a href="/table">Pulled data Management</a></li>
            <li><a href="https://nr-airflow-test.apps.emerald.devops.gov.bc.ca/home">DAG Management</a></li>
            <li><a href="/appList">Data Auto Extraction Tool</a></li>
        </ul>

    </nav>
</header>
