<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You've logged out</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        /* Center the text and change color to black */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
            margin: 0;
        }

        h1 {
            color: black; /* Set text color to black */
            text-align: center; /* Center the text horizontally */
        }
    </style>
</head>
<body>

    <h1>You've logged out</h1>

    <%- include('./partials/footer') %>
</body>
</html>
